.img-sec img{
  border-radius: 60%;
}
.img-fluid .bg-img{
  width: 200px;
  height: 200px;
}








.single-item {
  width: 80%;
  margin: 0 auto;
}

.single-item img {
  width: 100%;
  display: block;
}




.slick-carousel {
  width: 100%;
}

.slick-image {
  width: 100%;
  height: auto;
}
