




<!--<div id="hero-carousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner bg-primary text-white">
    <div class="carousel-item active c-item">
      <div class="">
        <div class="contenido-carousel d-flex align-items-center justify-content-center">
          <div class="content-carousel-img">
            <img src="https://www.yamoshi.com.pe/img/cms/BANNERS%20HOMEPAGE/SLIDER%20NUEVOS/amd-portada1.jpg" class="d-block  c-img" alt="Slide 1">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item c-item">
      <div class="">
        <div class="contenido-carousel d-flex align-items-center justify-content-center">
          <div class="content-carousel-img">
            <img src="https://www.yamoshi.com.pe/img/cms/BANNERS%20HOMEPAGE/SLIDER%20NUEVOS/33b32973fa9085b12074837cf23f17ec5b9aa1c3_logitech%20g.jpg" class="d-block  c-img" alt="Slide 1">
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item c-item">
      <div class="">
        <div class="contenido-carousel d-flex align-items-center justify-content-center">
          <div class="content-carousel-img">
            <img src="https://www.yamoshi.com.pe/img/cms/BANNERS%20HOMEPAGE/banner%20gigabyte1.png" class="d-block  c-img" alt="Slide 1">
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>








<app-pc></app-pc>



<section class="mt-5 mb-4">
  <div class="container text-dark">
    <header class="">
      <h3 class="section-title">Recently viewed</h3>
    </header>

    <div class="row gy-3">
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp" />
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/2.webp" />
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/3.webp" />
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/4.webp" />
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" />
        </a>
      </div>

      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img height="200" width="200" class="img-thumbnail" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/6.webp" />
        </a>
      </div>
    </div>
  </div>
</section>



<app-laptop></app-laptop>






<app-monitores></app-monitores>


<section class="">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="card-banner bg-gray h-100" style="
                                                      min-height: 200px;
                                                      background-size: cover;
                                                      background-position: center;
                                                      width: 100%;
                                                      background-repeat: no-repeat;
                                                      top: 50%;
                                                      background-image: url('https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/banners/banner-item2.webp');">
          <div class="p-3 p-lg-5" style="max-width: 70%;">
            <h3 class="text-dark">Best products & brands in our store at 80% off</h3>
            <p>That's true but not always</p>
            <button class="btn btn-warning shadow-0" href="#"> Claim offer </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mb-3 mb-sm-4 g-3 g-sm-4">
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Gaming toolset</h5>
                <p class="text-white-50">Technology for cyber sport</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex">
            <div class="card w-100 bg-primary" style="min-height: 200px;">
              <div class="card-body">
                <h5 class="text-white">Quality sound</h5>
                <p class="text-white-50">All you need for music</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>


        <div class="card bg-success" style="min-height: 200px;">
          <div class="card-body">
            <h5 class="text-white">Buy 2 items, With special gift</h5>
            <p class="text-white-50" style="max-width: 400px;">Buy one, get one free marketing strategy helps your business improves the brand by sharing the profits</p>
            <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>

<app-impresoras></app-impresoras>

<app-camaras-seguridad></app-camaras-seguridad>-->

<!---
<section class="w3l-content-w-photo-6">
  <div class="content-photo-6-mian py-5">
      <div class="container py-lg-5">
          <div class="align-photo-6-inf-cols row">
              <div class="photo-6-inf-right col-lg-6">
                  <h3 class="hny-title text-left">¡Todos los trajes de hombre de marca tienen un descuento del <span>30%</span>!</h3>
                  <p>Visita nuestra tienda para ver las increíbles creaciones de nuestros diseñadores.</p>
                  <a href="#" class="read-more btn">Comprar Ahora</a>
              </div>
              <div class="photo-6-inf-left col-lg-6">
                  <img src="https://img.pikbest.com/origin/06/29/35/98DpIkbEsTeZY.jpg!w700wp" class="img-fluid" alt="">
              </div>
          </div>
      </div>
  </div>
</section>-->





<!--
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3 class="hny-title mb-0 text-center">COMPRAR CON NOSOTROS</h3>
			<p class="text-center">Favoritos cuidadosamente seleccionados solo para ti</p>
    </header>
    <div class="contenedor-product">
    <div class="producto-ngfor" *ngFor="let producto of productos" >
      <div >
          <div class="product-grid">
              <div class="product-image" style="height: 200px;display: flex;
              justify-content: center;
              align-items: center;">
                  <a class="image" (click)="abrirviewcart(producto)" data-bs-toggle="modal" data-bs-target="#viewModal">
                      <img class="img-1" [src]="producto.imagen" style="width: 100%;height:100%;object-fit: contain;">
                      <img class="img-2"[src]="producto.imagen2" >
                  </a>
                  <span class="product-hot-label" *ngIf="producto.descuento > 0">{{producto.descuento}}%</span>
                  <ul class="product-links">
                      <li><a href="#"><i class="mb-3 pi pi-heart-fill text-2xl text-color-secondary"></i></a></li>
                      <li><a href="#"><i class="mb-3 pi pi-share-alt text-2xl text-color-secondary"></i></a></li>
                      <li><a (click)="agregarAlCarrito(producto)" ><i class="mb-3 pi pi-shopping-cart text-2xl text-color-secondary"></i></a></li>
                  </ul>
                  <a  (click)="abrirviewcart(producto)" class="product-view"><i class="mb-3 pi pi-search text-2xl text-color-secondary"></i></a>
              </div>
              <div class="product-content">
                <div class="rating-stars" [innerHTML]="producto.valoracion ? getStarRating(producto.valoracion) : ''"></div>
                  <h3 class="title"><a href="#">{{producto.nombre}}</a></h3>
                  <span>{{producto.descripcion}}</span>
                  <div class="price">S/ {{producto.precio}}</div>
              </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</section>-->



<!-- Xbox -->
<section class="xbox">
  <div class="content">
    <h2>Xbox Game Pass Ultimate</h2>
    <p>Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality
      console and PC games. Play together with friends and discover your
      next favorite game.</p>
      <a href="#" class="btn">
        Join Now <i class="fas fa-chevron-right"></i>
      </a>
  </div>
  <div class="content-3d">
    <div class="macbook">
      <div class="inner">
        <div class="screen">
          <div class="face-one">
            <div class="camera"></div>
            <div class="display">
              <div class="shade"></div>
            </div>
            <span>MacBook Air</span>
          </div>
          <img src="assets/img/logosisoft.svg" class="logo" />
        </div>
        <div class="body">
          <div class="face-one">
            <div class="touchpad">
            </div>
            <div class="keyboard">
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key space"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
              <div class="key f"></div>
            </div>
          </div>
          <div class="pad one"></div>
          <div class="pad two"></div>
          <div class="pad three"></div>
          <div class="pad four"></div>
        </div>
      </div>
      <div class="shadow"></div>
    </div>
  </div>
</section>
<br>
<br>







































<div class="container mt-4">
	<div class="row">
		<div class="col-md-12 text-secondary p-0">
			<div class="title-wrapper mb-0">
				<h3>Product Slider</h3>
        <br>
        <hr>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" >
		<div class="owl-carousel owl-theme vertical-divider" >

			<div class="item">
				<a href="#">
					<div class="card">
						<div class="big-image-item">
							<img src="https://www.yamoshi.com.pe/themes/gostore4/assets/vnlab/img/yamo%20pc.jpg" class=" d-block" class=" d-block" />
						</div>
						</div>
					</a>
				</div>

			<div class="item d-flex" style="gap: 15px;" >
				<a href="#" *ngFor="let producto of productosPorCategoria" >
				<div class="card" style="width:200px;" >
					<div class="card-body pb-0" >
						<p class="text-primary mb-0 product-title">{{producto.nombre}}</p>
					</div>
					<div class="product-image">
					<img [src]="producto.imagen" class="card-img-top" />
					</div>
					<div class="card-body py-1 row">
						<div class="col">
							<h5 class="text-danger price m-0">{{producto.precio}}</h5>
							<span class="text-secondary strike"><del>Rp. 2.000.000</del></span>
						</div>
						<div class="col p-0 text-center">
							<a href="#" class="btn btn-secondary btn-circle m-auto"><i class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
					<div class="overlay-btn p-1">
							<a href="#" class="btn m-auto"><i class="fa fa-eye"></i> Quick View</a>
							<a href="#" class="btn m-auto"><i class="fa fa-heart"></i> Wishlist</a>
					</div>
				</div>
				</a>
			</div>



		</div>
	</div>
</div>















<section class="services-area section-padding">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
              <div class="section-title text-center">
                  <h2>Our Services</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
              <div class="single-serviecs-block">
                  <i><img src="https://www.yamoshi.com.pe/img/cms/pla.png" alt="" width="100"></i>
                  <h3><a href="services-details.html">SELECCIONA PRODUCTOS</a></h3>
                  <p>Navega entre nuestras categorías y agrega los mejores productos a tu carrito de compras.</p>

              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
              <div class="single-serviecs-block">
                  <i ><img src="https://www.yamoshi.com.pe/img/cms/dom.png" alt="" width="100"></i>
                  <h3><a href="services-details.html">SELECCION A DOMICILIO</a></h3>
                  <p> Establece la dirección de tu conveniencia para recibir los productos que están por comprar</p>

              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
              <div class="single-serviecs-block">
                  <i ><img src="https://www.yamoshi.com.pe/img/cms/SOPOR.png" alt="" width="100"></i>
                  <h3><a href="services-details.html">SERVICIO TÉCNICO</a></h3>
                  <p> Servicio especializado en Soporte técnico</p>

              </div>
          </div>
      </div>
  </div>
</section><!--/Services Area-->





















<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css'>
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col hp" *ngFor="let producto of productos" >
      <div class="card h-100 shadow-sm"   data-bs-toggle="modal" data-bs-target="#viewModal">
        <a (click)="abrirviewcart(producto)">
          <img [src]="producto.imagen" class="card-img-top" alt="product.title" />
        </a>

        <div class="bg-danger label-top shadow-sm ">
          <a class="text-white" href="#">{{producto.nombre}}</a>
        </div>
        <div class="card-body">
          <div class="clearfix mb-3 ">
            <span class="float-start badge rounded-pill bg-success">{{producto.precio}}</span>

            <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
          </div>
          <h5 class="card-title">
            <a target="_blank" href="#">{{producto.descripcion}}</a>
          </h5>

          <div class="d-grid gap-2 my-4 bg-warning">

            <a  class="btn btn-warning bold-btn" (click)="agregarAlCarrito(producto)" >add to cart</a>

          </div>
          <div class="clearfix mb-1">

            <span class="float-start"><a (click)="abrirviewcart(producto)"><i class="mb-3 pi pi-info text-2xl text-color-secondary"></i></a></span>

            <span class="float-end">
              <i class="mb-3 pi pi-heart-fill text-2xl text-color-secondary"></i>

            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
























































