<!-- inicio de migas de pan -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>inicio de sesión de cliente</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item active">inicio de sesión</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- fin de migas de pan -->


<!-- sección de inicio -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Iniciar Sesión</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required="">
                        </div>
                        <div class="form-group">
                            <label for="review">Contraseña</label>
                            <input type="password" class="form-control" id="review"
                                placeholder="Ingrese su contraseña" required="">
                        </div>
                        <a href="#" class="btn btn-solid">Iniciar Sesión</a>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Nuevo Cliente</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Crear una Cuenta</h6>
                    <p>Regístrese para obtener una cuenta gratuita en nuestra tienda. El registro es rápido y sencillo.
                        Le permite realizar pedidos en nuestra tienda. Para comenzar a comprar, haga clic en registrar.</p>
                    <a href="#" class="btn btn-solid">Crear una Cuenta</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fin de la sección -->
