<div style="height: 100px;"></div>
<div class="section-bg">
    <div class="contact-section">
        <div class="container">
            <h2 class="hny-title text-center">Contacta con nosotros</h2>
            <!-- Resto de tu contenido -->
        </div>
    </div>
</div>


<!-- contacts -->
<section class="w3l-contacts-8">
    <div class="contacts-9 section-gap py-5">
        <div class="container py-lg-5">
            <div class="row top-map">
                <div class="col-lg-6 partners">
                    <div class="cont-details">
                        <h3 class="hny-title mb-0">Ponerse en <span class="highlight">contacto</span></h3>
                        <p class="mb-5">Estamos listos para guiarlo hacia el futuro con Servicios</p>
                        <p class="margin-top"><span class="texthny">Llámanos: </span> <a href="tel:+(21) 255 999 8899">956167490</a></p>
                        <p> <span class="texthny">Correo: </span> <a href="mailto:info@example.com">info@example.com</a></p>
                        <p class="margin-top">Lima 476, Ica 11000 </p>
                    </div>
                    <div class="hours">
                        <h3 class="hny-title">Horas <span>Laborales</span></h3>
                        <h6>Atencion al cliente:</h6>
                        <p>Lunes a Sabado 9.00 am - 6.00 pm</p>
                        <p>Domingo cerrado</p>
                    </div>
                </div>
                <div class="col-lg-6 map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15480.667168332158!2d-75.7275929!3d-14.0673262!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e2bd8e6bdad7%3A0x9d6d8127e9fbc6ad!2sSisoft%20Sac!5e0!3m2!1ses!2spe!4v1696704130883!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="map-content-9 form-bg-img">
        <div class="layer section-gap py-5">
            <div class="container py-lg-5">
                <div class="form">
                    <h3 class="hny-title two text-center">Rellenar el formulario</h3>
                    <form action="https://sendmail.w3layouts.com/submitForm" class="mt-md-5 mt-4 contact-form" method="post">
                        <div class="input-grids">
                            <input type="text" name="w3lName" id="w3lName" placeholder="Name">
                            <input type="email" name="w3lSender" id="w3lSender" placeholder="Email" required="" />
                            <input type="subject" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
                        </div>
                        <div class="input-textarea">
                            <textarea name="w3lMessage" id="w3lMessage" placeholder="Message" required=""></textarea>
                        </div>
                        <button type="submit" class="btn">enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- //contacts -->


  