
*{
  user-select: none;
}


/*

@import '~sweetalert2/dist/sweetalert2.min.css';

  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

  body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-family: 'Poppins', sans-serif;
      background: #000;
  }

  .container-view {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 900px;
      height: 600px;
      background: #fff;
  }

  .container-view .imgBx {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      background: #212121;
      transition: .3s linear;
  }

  .container-view .imgBx:before {
      position: absolute;
      top: 0px;
      left: 24px;
      color: #000;
      opacity: 0.2;
      font-size: 8em;
      font-weight: 800;
  }

  .container-view .imgBx img {
      position: relative;
      width: 700px;
      left: -50px;
      transition: .9s linear;
  }

  .container-view .details {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      padding: 40px;
  }

  .container-view .details h2{
      margin: 0;
      padding: 0;
      font-size: 2.4em;
      line-height: 1em;
      color: #444;
  }

  .container-view .details h2 span {
      font-size: 0.4em;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #999;
  }

  .container-view .details p {
      max-width: 85%;
      margin-left: 15%;
      color: #333;
      font-size: 15px;
      margin-bottom: 36px;
  }

  .container-view .details h3 {
      margin: 0;
      padding: 0;
      font-size: 2.5em;
      color: #a2a2a2;
      float: left;
  }
  .container-view .details button {
      background: #000;
      color: #fff;
      border: none;
      outline: none;
      padding: 15px 20px;
      margin-top: 5px;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 40px;
      float: right;
  }

  .product-colors span {
      width: 26px;
      height: 26px;
      top: 7px;
      margin-right: 12px;
      left: 10px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      display: inline-block;
  }

  .black {
      background: #000;
  }

  .red {
      background: #D5212E;
  }

  .orange {
      background: #F18557;
  }

  .product-colors .active:after{
      content: "";
      width: 36px;
      height: 36px;
      border: 2px solid #000;
      position: absolute;
      border-radius: 50%;
      box-sizing: border-box;
      left: -5px;
      top: -5px;
  }


  @media (max-width: 1080px) {
      .container-view {
          height: auto;
          width: 100%;
      }
      .container-view .imgBx {
          padding: 40px;
          box-sizing: border-box;
          width: 100% !important;
          height: auto;
          text-align: center;
          overflow: hidden;
      }
      .container-view .imgBx img {
          left: initial;
          max-width: 100%;
          transform: rotate(0deg);
      }
      .details {
          width: 100% !important;
          height: auto;
          padding: 20px;
      }
      .container-view .details p {
          margin-left: 0;
          max-width: 100%;
      }
  }

  footer {
      position: fixed;
      right: 16px;
      bottom: 12px;
  }

  footer a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
  }








  .content{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
  }
  .cartBtn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }

  .cart {
    z-index: 2;
  }

  .cartBtn:active {
    transform: scale(0.96);
  }

  .product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 35px;
    bottom: 23px;
    opacity: 0;
    z-index: 1;
    fill: rgb(211, 211, 211);
  }

  .cartBtn:hover .product {
    animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-30px);
      opacity: 1;
    }

    100% {
      transform: translateY(0) rotate(-90deg);
      opacity: 1;
    }
  }

  .cartBtn:hover .cart {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }*/



































  .picZoomer-pic-wp{
    position: relative;
    overflow: hidden;
      text-align: center;
  }
  .picZoomer-pic-wp:hover .picZoomer-cursor{
    display: block;
  }
  .picZoomer-zoom-pic{
    position: absolute;
    top: 0;
    left: 0;
  }

  .picZoomer-zoom-wp{
    display: none;
    position: absolute;
    z-index: 999;
    overflow: hidden;
      border:1px solid #eee;
      height: 460px;
      margin-top: -19px;
  }
  .picZoomer-cursor{
    display: none;
    cursor: crosshair;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: rgba(0,0,0,.1);
  }
  .picZoomCursor-ico{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 40px;
    left: 40px;

  }

  .my_img {
      vertical-align: middle;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
  }
  .piclist li{
      display: inline-block;
      width: 90px;
      height: 114px;
      border: 1px solid #eee;
  }
  .piclist li img{
      width: 97%;
      height: auto;
  }

  .picZoomer-pic-wp,
  .picZoomer-zoom-wp{
      border: 1px solid #eee;
  }



  .section-bg {
      background-color: #fff1e0;
  }
  section {
      padding: 60px 0;
  }
  .row-sm .col-md-6 {
      padding-left: 5px;
      padding-right: 5px;
  }


  ._boxzoom .zoom-thumb {
      width: 90px;
      display: inline-block;
      vertical-align: top;
      margin-top: 0px;
  }
  ._boxzoom .zoom-thumb ul.piclist {
      padding-left: 0px;
      top: 0px;
  }
  ._boxzoom ._product-images {
      width: 80%;
      display: inline-block;
  }
  ._boxzoom ._product-images .picZoomer {
      width: 100%;
  }
  ._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
      left: 0px;
  }
  ._boxzoom ._product-images .picZoomer img.my_img {
      width: 100%;
  }
  .piclist li img {
      height:100px;
      object-fit:cover;
  }


  ._product-detail-content {
      background: #fff;
      padding: 15px;
      border: 1px solid lightgray;
  }
  ._product-detail-content p._p-name {
      color: black;
      font-size: 20px;
      border-bottom: 1px solid lightgray;
      padding-bottom: 12px;
  }
  .p-list span {
      margin-right: 15px;
  }
  .p-list span.price {
      font-size: 25px;
      color: #318234;
  }
  ._p-qty > span {
      color: black;
      margin-right: 15px;
      font-weight: 500;
  }
  ._p-qty .value-button {
      display: inline-flex;
      border: 0px solid #ddd;
      margin: 0px;
      width: 30px;
      height: 35px;
      justify-content: center;
      align-items: center;
      background: #fd7f34;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #fff;
  }

  ._p-qty .value-button {
      border: 0px solid #fe0000;
      height: 35px;
      font-size: 20px;
      font-weight: bold;
  }
  ._p-qty input#number {
      text-align: center;
      border: none;
      border-top: 1px solid #fe0000;
      border-bottom: 1px solid #fe0000;
      margin: 0px;
      width: 50px;
      height: 35px;
      font-size: 14px;
      box-sizing: border-box;
  }
  ._p-add-cart {
      margin-left: 0px;
      margin-bottom: 15px;
  }
  .p-list {
      margin-bottom: 10px;
  }
  ._p-features > span {
      display: block;
      font-size: 16px;
      color: #000;
      font-weight: 500;
  }
  ._p-add-cart .buy-btn {
      background-color: #fd7f34;
      color: #fff;
  }
  ._p-add-cart .btn {
      text-transform: capitalize;
      padding: 6px 20px;

      border-radius: 52px;
  }
  ._p-add-cart .btn {
      margin: 0px 8px;
  }
