<div style="height: 20vh"></div>
    <section class="item-details " id="section-product">
        <div >
            <div class="top-area">
                <div class="row align-items-center"  >
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                              <div class="main-img" id="mainImageContainer">
                                <img src="../assets/images/electronics/banner/13.jpg" id="current" alt="#">
                            </div>
                            <div class="images">
                                <img src="../assets/images/electronics/banner/15.jpg" class="img" alt="#" id="secondImage">
                                <img src="../assets/images/electronics/banner/14.jpg" class="img" alt="#" id="secondImage">
                            </div>

                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info" >
                            <h2 class="title">{{ producto.nombre }}</h2>

                            <h3 class="price">S/{{producto.precio}}</h3>
                            <p class="info-text">{{producto.descripcion}}</p>

                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            <a class="btn btn-carrito"  href="#" data-bs-toggle="modal" data-bs-target="#shopModal" class="btn">Add to Cart</a>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   



    <!--<div class="modal fade" id="shopModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true" style="font-size: 10px;font: none;top: 25%;">
      <div class="modal-dialog" style="font-size: 10px;font: none;">
          <div class="modal-body">
            <figure class="pizza" *ngIf="selectedProduct">
              <div class="pizza__herro">
                <img [src]="selectedProduct.imagen" alt="pizza" class="pizza__img">
              </div>
              <div class="pizza__content">
                <div class="pizza__title">
                  <h1 class="pizza__heading">{{ selectedProduct.nombre }}</h1>
                  
                </div>
                <p class="pizza__description">{{selectedProduct.descripcion}}</p>
              </div>
              <div class="pizza__price">S/{{selectedProduct.precio}}</div>
            </figure>

            </div>


          </div>
        </div>-->
