  <div style="height: 20vh"></div>
    <section class="item-details " id="section-product">
        <div >
            <div class="top-area">
                <div class="row align-items-center"  (click)="seleccionarProducto(producto)">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                              <div class="main-img" id="mainImageContainer">
                                <img [src]="producto.imagen" id="current" alt="#">
                            </div>
                            <div class="images">
                                <img [src]="producto.imagen" class="img" alt="#" id="secondImage">
                                <img [src]="producto.imagen2" class="img" alt="#" id="secondImage">
                            </div>

                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info" >
                            <h2 class="title">{{ producto.nombre }}</h2>
                              <!--<p class="category"><i class="lni lni-tag"></i> Drones:<a href="javascript:void(0)">Action
                                    cameras</a></p>-->
                            <h3 class="price">S/{{producto.precio}}</h3>
                            <p class="info-text">{{producto.descripcion}}</p>
                            <!--<div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group color-option">
                                        <label class="title-label" for="size">Choose color</label>
                                        <div class="single-checkbox checkbox-style-1">
                                            <input type="checkbox" id="checkbox-1" checked>
                                            <label for="checkbox-1"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-2">
                                            <input type="checkbox" id="checkbox-2">
                                            <label for="checkbox-2"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-3">
                                            <input type="checkbox" id="checkbox-3">
                                            <label for="checkbox-3"><span></span></label>
                                        </div>
                                        <div class="single-checkbox checkbox-style-4">
                                            <input type="checkbox" id="checkbox-4">
                                            <label for="checkbox-4"><span></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="color">Battery capacity</label>
                                        <select class="form-control" id="color">
                                            <option>5100 mAh</option>
                                            <option>6200 mAh</option>
                                            <option>8000 mAh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group quantity">
                                        <label for="color">Quantity</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>-->
                            <div class="bottom-content">
                                <div class="row align-items-end">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="button cart-button">
                                            <a class="btn btn-carrito"  href="#" data-bs-toggle="modal" data-bs-target="#shopModal" class="btn">Add to Cart</a>
                                        </div>
                                    </div>
                                    <!--<div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn"><i class="lni lni-reload"></i> Compare</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="wish-button">
                                            <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Item Details -->

    <!-- End Review Modal -->


    <div class="modal fade" id="shopModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true" style="font-size: 10px;font: none;top: 25%;">
      <div class="modal-dialog" style="font-size: 10px;font: none;">
          <div class="modal-body">
            <figure class="pizza" *ngIf="selectedProduct">
              <div class="pizza__herro">
                <img [src]="selectedProduct.imagen" alt="pizza" class="pizza__img">
              </div>
              <div class="pizza__content">
                <div class="pizza__title">
                  <h1 class="pizza__heading">{{ selectedProduct.nombre }}</h1>
                  <!--<div class="pizza__tag pizza__tag--1">#vegetarian</div>
                  <div class="pizza__tag pizza__tag--2">#italian</div>-->
                </div>
                <p class="pizza__description">{{selectedProduct.descripcion}}</p>
              </div>
              <div class="pizza__price">S/{{selectedProduct.precio}}</div>
            </figure>

            </div>


          </div>
        </div>
