<!-- app.component.html -->

<!--<app-navbar></app-navbar>--> <!-- Componente de navegación (NAV) en la carpeta layout -->

<!-- Condicional para mostrar el FOOTER solo en rutas que no sean /home/shopping-cart -->
<!--<ng-container *ngIf="!isShoppingCartRoute()">
  <router-outlet></router-outlet> Contenido dinámico se mostrará aquí (MAIN o ShoppingCart) 
  <app-footer></app-footer>  Componente de pie de página (FOOTER) en la carpeta layout 
</ng-container>-->

<!-- app.component.html -->

<app-navbar></app-navbar> <!-- Componente de navegación (NAV) en la carpeta layout -->
<router-outlet></router-outlet> <!-- Contenido dinámico se mostrará aquí (MAIN o ShoppingCart) -->
<app-footer></app-footer> <!-- Componente de pie de página (FOOTER) en la carpeta layout -->
