<footer class="bg-img-gym overlay-cls effect-cls footer-effect" style="background-image: url(../assets/images/parallax/27.jpg);">

    <div class="dark-layout">
        <div class="container">
            <section class="section-b-space border-b">
                <div class="row footer-theme2">
                    <div class="col-lg-3">
                        <div class="footer-title footer-mobile-title">
                            <h4>acerca de</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo">
                                <img src="../assets/images/icon/footerlogo.png" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                        </div>
                    </div>
                    <div class="col-lg-6 subscribe-wrapper">
                        <div class="subscribe-block">
                            <h2>boletín informativo</h2>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleFormControlInput3"
                                        placeholder="Ingrese su correo electrónico">
                                    <button type="submit" class="btn btn-solid ">suscribirse</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-title">
                            <h4>información de la tienda</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-details">
                                <li>Demotienda Multikart, Demo store India 345-659</li>
                                <li>Llámenos: 123-456-7898</li>
                                <li>Email: <a href="#">Support@Fiot.com</a></li>
                                <li>Fax: 123456</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="dark-layout">
        <div class="container">
            <section class="small-section">
                <div class="row footer-theme2">
                    <div class="col p-set">
                        <div class="footer-link">
                            <div class="footer-title">
                                <h4>mi cuenta</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">hombres</a></li>
                                    <li><a href="#">mujeres</a></li>
                                    <li><a href="#">ropa</a></li>
                                    <li><a href="#">accesorios</a></li>
                                    <li><a href="#">destacados</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-link-b">
                            <div class="footer-title">
                                <h4>por qué elegirnos</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">envío y devolución</a></li>
                                    <li><a href="#">compra segura</a></li>
                                    <li><a href="#">galería</a></li>
                                    <li><a href="#">afiliados</a></li>
                                    <li><a href="#">contactos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="sub-footer darker-subfooter">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017-18 themeforest powered by
                            pixelstrap</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>
                            <li>
                                <a href="#"><img src="../assets/images/icon/visa.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/mastercard.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/paypal.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/american-express.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/discover.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
