<div style="height: 100px;"></div>
<div class="business-card clearfix">
  <div class="business-card-profile">
    <img class="business-card-pic bg-light" src="assets/img/perfil.svg" alt="profile picture" />
    <p class="business-card-name"></p>
    <p class="business-card-title"><b>saul</b></p>
  </div>
  <div class="business-card-arrow"></div>
  <div class="business-card-details">
    <p><i class="fa fa-desktop"></i><a class="business-card-link" href="www.yourdomainhere.com">www.yourdomainhere.com</a></p>
    <p><i class="fa fa-envelope"></i>maxime.huylebroeck@domain.com</p>
    <p><i class="fa fa-phone"></i>00 00 00 00 00</p>
    <p><i class="fa fa-facebook"></i>/maxime.huylebroeck</p>
    <p><i class="fa fa-twitter"></i>@maxime_G_4s</p>
    <p><i class="fa fa-instagram"></i>maxime.huylebroeck</p>
    <p><i class="fa fa-skype"></i>maxime.huylebroeck</p>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div style="height: 100px;"></div>
