
<!-- Start Trending Product Area -->
<section class="trending-product section" >
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>Lo mejor de Camaras de Seguridad</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-12" *ngFor="let producto of productosPorCategoriacamaras" (click)="seleccionarProducto(producto)"  >
              <!-- Start Single Product -->
              <div class="single-product">
                  <div class="product-image">
                      <a (click)="abrirviewcart(producto)">
                        <img [src]="producto.imagen" alt="#" >
                      </a>
                        <div class="button">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#shopModal" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
                        </div>
                  </div>
                  <div class="product-info">
                      <h4 class="title">
                          <a href="product-grids.html">{{producto.nombre}}</a>
                      </h4>
                      <div class="price">
                          <span>S/{{producto.precio}}</span>
                      </div>
                  </div>
              </div>
              <!-- End Single Product -->
          </div>
      </div>
  </div>
</section>


<div class="modal fade" id="shopModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true" style="font-size: 10px;font: none;top: 25%;">
	<div class="modal-dialog" style="font-size: 10px;font: none;">
			<div class="modal-body">
        <figure class="pizza" *ngIf="selectedProduct">
          <div class="pizza__herro">
            <img [src]="selectedProduct.imagen" alt="pizza" class="pizza__img">
          </div>
          <div class="pizza__content">
            <div class="pizza__title">
              <h1 class="pizza__heading">{{ selectedProduct.nombre }}</h1>
              <!--<div class="pizza__tag pizza__tag--1">#vegetarian</div>
              <div class="pizza__tag pizza__tag--2">#italian</div>-->
            </div>
            <p class="pizza__description">{{selectedProduct.descripcion}}</p>
          </div>
          <div class="pizza__price">S/{{selectedProduct.precio}}</div>
        </figure>

        </div>


			</div>
		</div>
