/* You can add global styles to this file, and also import other style files */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #fff; /* Not -- text-color #fff */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #000; /* Not -- text-color #000: */
  }
}
