<header class="header-style-5 style-light">
    <div class="mobile-fix-option"></div>
    <div class="top-header top-header-dark2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            <li>Bienvenido a nuestra tienda Multikart</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Llámenos: 123 - 456 - 7890</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-end">
                    <ul class="header-dropdown">
                        <li class="mobile-wishlist"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                        <li class="onhover-dropdown mobile-account">
                            <i class="fa fa-user" aria-hidden="true"></i>Mi cuenta
                            <ul class="onhover-show-div">
                                <li><a (click)="abrirlogin($event)">Iniciar sesión</a></li>
                                <li><a (click)="abrirregister($event)">Registrarse</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="navbar d-block d-xl-none">
                            <a href="javascript:void(0)">
                                <div class="bar-style" id="toggle-sidebar-res"><i class="fa fa-bars sidebar-bar"
                                        aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a href="index.html"><img src="../assets/images/icon/logo/logosisoft.png"
                                    class="img-fluid blur-up lazyload" alt=""></a>
                        </div>
                    </div>
                    <div>
                        <form class="form_search" role="form">
                            <input id="query search-autocomplete" type="search"
                                placeholder="Buscar cualquier dispositivo o gadget..."
                                class="nav-search nav-search-field" aria-expanded="true">
                            <button type="submit" name="nav-submit-button" class="btn-search">
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <div class="icon-nav">
                                <ul>
                                    <!--<li class="onhover-div mobile-search d-xl-none d-inline-block">
                                        <div><img src="../assets/images/icon/search.png" onclick="openSearch()"
                                                class="img-fluid blur-up lazyload" alt=""><i class="ti-search"
                                                onclick="openSearch()"></i></div>
                                        <div id="search-overlay" class="search-overlay">
                                            <div><span class="closebtn" onclick="closeSearch()"
                                                    title="Cerrar Overlay">×</span>
                                                <div class="overlay-content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control"
                                                                            id="exampleInputPassword1"
                                                                            placeholder="Buscar un producto">
                                                                    </div>
                                                                    <button type="submit"
                                                                        class="btn btn-primary"><i
                                                                            class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </li>-->
                                    <li class="onhover-div mobile-setting">
                                        <div><img src="../assets/images/icon/setting.png"
                                                class="img-fluid blur-up lazyload" alt=""><i class="ti-settings"></i>
                                        </div>
                                        <div class="show-div setting">
                                            <h6>Idioma</h6>
                                            <ul>
                                                <li><a href="#">inglés</a></li>
                                                <li><a href="#">francés</a></li>
                                            </ul>
                                            <h6>Moneda</h6>
                                            <ul class="list-inline">
                                                <li><a href="#">euro</a></li>
                                                <li><a href="#">rupias</a></li>
                                                <li><a href="#">libra</a></li>
                                                <li><a href="#">dólar</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <div><img src="../assets/images/icon/cart.png"
                                                class="img-fluid blur-up lazyload" alt=""><i
                                                class="ti-shopping-cart"></i></div>
                                        <span class="cart_qty_cls">0</span>
                                        <ul class="show-div shopping-cart">
                                            <li>
                                                <div class="media">
                                                    <a href="#"><img alt="" class="me-3"
                                                            src="../assets/images/fashion/product/1.jpg"></a>
                                                    <div class="media-body">
                                                        <a href="#">
                                                            <h4>Nombre del artículo</h4>
                                                        </a>
                                                        <h4><span>1 x $ 299.00</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="#"><i class="fa fa-times"
                                                            aria-hidden="true"></i></a></div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#"><img alt="" class="me-3"
                                                            src="../assets/images/fashion/product/2.jpg"></a>
                                                    <div class="media-body">
                                                        <a href="#">
                                                            <h4>Nombre del artículo</h4>
                                                        </a>
                                                        <h4><span>1 x $ 299.00</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="#"><i class="fa fa-times"
                                                            aria-hidden="true"></i></a></div>
                                            </li>
                                            <li>
                                                <div class="total">
                                                    <h5>Subtotal: <span>$299.00</span></h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="buttons"><a href="cart.html" class="view-cart">Ver carrito</a>
                                                    <a href="#" class="checkout">Revisar</a></div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="bottom-part bottom-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="category-menu d-none d-xl-block h-100">
                        <div id="toggle-sidebar" class="toggle-sidebar">
                            <i class="fa fa-bars sidebar-bar"></i>
                            <h5 class="mb-0">Comprar por categoría</h5>
                        </div>
                    </div>
                    <div class="sidenav fixed-sidebar marketplace-sidebar svg-icon-menu">
                        <nav>
                            <div>
                                <div class="sidebar-back text-start d-xl-none d-block"><i class="fa fa-angle-left pe-2"
                                        aria-hidden="true"></i> Atrás</div>
                            </div>
                            <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                <li><a href="#">Frutas y verduras</a></li>
                                <li><a href="#">Huevos, carne, pescado</a>
                                    <ul>
                                        <li><a href="#">Maquillaje</a></li>
                                        <li><a href="#">Cuidado de la piel</a></li>
                                        <li><a href="#">Belleza premium</a></li>
                                        <li><a href="#">Más</a>
                                            <ul>
                                                <li><a href="#">Fragancias</a></li>
                                                <li><a href="#">Belleza de lujo</a></li>
                                                <li><a href="#">Cuidado del cabello</a></li>
                                                <li><a href="#">Herramientas y cepillos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Cereales y alimentos</a>
                                    <ul>
                                        <li><a href="#">Bolsas para compras</a></li>
                                        <li><a href="#">Bolsas para laptop</a></li>
                                        <li><a href="#">Clutches</a></li>
                                        <li><a href="#">Bolsos</a>
                                            <ul>
                                                <li><a href="#">Bolsos</a></li>
                                                <li><a href="#">Carteras</a></li>
                                                <li><a href="#">Carteras de cuero</a></li>
                                                <li><a href="#">Bolsos bandolera</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Panadería y lácteos</a>
                                    <ul>
                                        <li><a href="#">Zapatos deportivos</a></li>
                                        <li><a href="#">Zapatos formales</a></li>
                                        <li><a href="#">Zapatos casuales</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Bebidas</a></li>




                                <li><a href="#">snacks</a>
                                    <ul>
                                        <li><a href="#">joyería de moda</a></li>
                                        <li><a href="#">gorras y sombreros</a></li>
                                        <li><a href="#">joyería preciosa</a></li>
                                        <li><a href="#">más..</a>
                                            <ul>
                                                <li><a href="#">collares</a></li>
                                                <li><a href="#">pendientes</a></li>
                                                <li><a href="#">accesorios de muñeca</a></li>
                                                <li><a href="#">accesorios</a>
                                                    <ul>
                                                        <li><a href="#">corbatas</a></li>
                                                        <li><a href="#">gemelos</a></li>
                                                        <li><a href="#">pañuelos de bolsillo</a></li>
                                                        <li><a href="#">cascos</a></li>
                                                        <li><a href="#">bufandas</a></li>
                                                        <li><a href="#">más...</a>
                                                            <ul>
                                                                <li><a href="#">sets de regalo de accesorios</a></li>
                                                                <li><a href="#">accesorios de viaje</a></li>
                                                                <li><a href="#">fundas para teléfono</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">cinturones y más</a></li>
                                                <li><a href="#">prendible</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">producto de belleza</a></li>
                                <li><a href="#">gourmet</a></li>
                                <li><a href="#">cocina, jardín</a></li>
                                <li><a href="#">cocina, jardín</a></li>
                                </ul>
                                </nav>
                                </div>
                                </div>
                                <div class="col-xl-9">
                                <div class="main-nav-center">
                                <nav id="main-nav" class="text-start">
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                <li>
                                <div class="mobile-back text-end">Volver<i class="fa fa-angle-right ps-2"
                                    aria-hidden="true"></i></div>
                                </li>
                                

    <li><a href="#">Inicio</a></li>
                <li class="mega" id="hover-cls">
                    <a href="#">Características</a>
                    <ul class="mega-menu full-mega-menu">
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col mega-box">
                                        <div class="link-section">
                                            <div class="menu-title">
                                                <h5>Añadir al carrito</h5>
                                            </div>
                                            <div class="menu-content">
                                                <ul>
                                                    <li><a href="nursery.html">Modal de carrito emergente</a></li>
                                                    <li><a href="vegetables.html">Contador de cantidad <i class="fa fa-bolt icon-trend" aria-hidden="true"></i></a></li>
                                                    <li><a href="bags.html">Carrito arriba</a></li>
                                                    <li><a href="shoes.html">Carrito abajo</a></li>
                                                    <li><a href="watch.html">Carrito izquierda</a></li>
                                                    <li><a href="tools.html">Carrito derecha</a></li>
    </ul>
    </div>
    </div>
    </div>





    
    <div class="col mega-box">
        <div class="link-section">
            <div class="menu-title">
                <h5>modelo</h5>
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="index.html">Boletín</a></li>
                    <li><a href="index.html">salida<i class="ms-2 fa fa-bolt icon-trend"
                                aria-hidden="true"></i></a></li>
                    <li><a href="christmas.html">Navidad</a></li>
                    <li><a href="furniture-3.html">viernes negro</a></li>
                    <li><a href="fashion-4.html">lunes cibernético</a></li>
                    <li><a href="fashion-6.html">año nuevo</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col mega-box">
        <div class="link-section">
            <div class="menu-title">
                <h5>barra de cookies</h5>
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="index.html">inferior<i class="ms-2 fa fa-bolt icon-trend"
                                aria-hidden="true"></i></a></li>
                    <li><a href="fashion-4.html">inferior izquierda</a></li>
                    <li><a href="bicycle.html">inferior derecha</a></li>
                </ul>
            </div>
            <div class="menu-title mt-2">
                <h5>buscar</h5>
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="marketplace-demo-2.html">búsqueda ajax<i class="ms-2 fa fa-bolt icon-trend"
                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col mega-box">
        <div class="link-section">
            <div class="menu-title">
                <h5>plantilla de factura</h5>
            </div>
            <div class="menu-content">
                <ul>
                    <li><a target="_blank" href="invoice-1.html">factura 1</a></li>
                    <li><a target="_blank" href="invoice-2.html">factura 2</a></li>
                    <li><a target="_blank" href="invoice-3.html">factura 3</a></li>
                    <li><a target="_blank" href="invoice-4.html">factura 4</a></li>
                    <li><a target="_blank" href="invoice-5.html">factura 5</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col mega-box">
        <div class="link-section">
            <div class="menu-title">
                <h5>plantilla de correo electrónico</h5>
            </div>
            <div class="menu-content">
                <ul>
                    <li><a target="_blank" href="../email-template/email-order-success.html">éxito del pedido</a></li>
                    <li><a target="_blank" href="../email-template/email-order-success-two.html">éxito del pedido 2</a></li>
                    <li><a target="_blank" href="../email-template/email-template.html">plantilla de correo electrónico</a></li>
                    <li><a target="_blank" href="../email-template/email-template-two.html">plantilla de correo electrónico 2</a></li>
                </ul>
            </div>











            <div class="menu-title mt-2">
                <h5>elementos</h5>
            </div>
            <div class="menu-content">
                <ul>
                    <li><a href="elements.html">página de elementos <i class="ms-2 fa fa-bolt icon-trend"
                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
            </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="../assets/images/menu-banner.jpg"
                        class="img-fluid mega-img">
                </div>
            </div>
            </div>
            </li>
            </ul>
            </li>
            <li>
                <a href="#">tienda</a>
                <ul>
                    <li><a href="category-page(top-filter).html">filtro superior <span
                                class="new-tag">nuevo</span></a></li>
                    <li><a href="category-page(modern).html">moderno <span
                                class="new-tag">nuevo</span></a></li>
                    <li><a href="category-page.html">barra lateral izquierda</a></li>
                    <li><a href="category-page(right).html">barra lateral derecha</a></li>
                    <li><a href="category-page(no-sidebar).html">sin barra lateral</a></li>
                    <li><a href="category-page(sidebar-popup).html">barra lateral emergente</a>
                    </li>
                    <li><a href="category-page(metro).html">metro</a></li>
                    <li><a href="category-page(full-width).html">ancho completo</a></li>
                    <li><a href="category-page(infinite-scroll).html">scroll infinito</a></li>
                    <li><a href=category-page(3-grid).html>tres cuadrícula</a></li>
                    <li><a href="category-page(6-grid).html">seis cuadrícula</a></li>
                    <li><a href="category-page(list-view).html">vista de lista</a></li>
                </ul>
            </li>
            <li>
                <a href="#">producto</a>
                <ul>
                    <li><a href="product-page(360-view).html">vista 360 <span
                                class="new-tag">nuevo</span></a></li>
                    <li><a href="product-page(video-thumbnail).html">miniatura de video <span
                                class="new-tag">nuevo</span></a></li>
                    <li>
                        <a href="#">barra lateral</a>
                        <ul>
                            <li><a href="product-page.html">barra lateral izquierda</a></li>
                            <li><a href="product-page(right-sidebar).html">barra lateral derecha</a></li>
                            <li><a href="product-page(no-sidebar).html">sin barra lateral</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">imagen en miniatura</a>
                        <ul>
                            <li><a href="product-page(left-image).html">imagen izquierda</a></li>
                            <li><a href="product-page(right-image).html">imagen derecha</a></li>
                            <li><a href="product-page(image-outside).html">imagen externa</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">tres columnas</a>
                        <ul>
                            <li><a href="product-page(3-col-left).html">miniatura izquierda</a></li>
                            <li><a href="product-page(3-col-right).html">miniatura derecha</a></li>
                            <li><a href="product-page(3-column).html">miniatura inferior</a></li>
                        </ul>
                    </li>
                    <li><a href="product-page(4-image).html">cuatro imágenes</a></li>
                    <li><a href="product-page(sticky).html">fijo</a></li>
                    <li><a href="product-page(accordian).html">acordeón</a></li>
                    <li><a href="product-page(bundle).html">paquete</a></li>
                    <li><a href="product-page(image-swatch).html">muestra de imagen </a></li>
                    <li><a href="product-page(vertical-tab).html">pestaña vertical</a></li>
                </ul>
            </li>
            <li><a href="#">páginas</a>
                <ul>
                    <li>
                        <a href="#">proveedor</a>
                        <ul>
                            <li><a href="vendor-dashboard.html">panel de proveedor</a></li>
                            <li><a href="vendor-profile.html">perfil de proveedor</a></li>
                            <li><a href="become-vendor.html">convertirse en proveedor</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">cuenta</a>
                        <ul>
                            <li><a href="wishlist.html">lista de deseos</a></li>
                            <li><a href="cart.html">carrito</a></li>
                            <li><a href="dashboard.html">panel de control</a></li>
                            <li><a href="login.html">inicio de sesión</a></li>
                            <li><a href="register.html">registro</a></li>
                            <li><a href="contact.html">contacto</a></li>
                            <li><a href="forget_pwd.html">olvidé mi contraseña</a></li>
                            <li><a href="profile.html">perfil</a></li>
                            <li><a href="checkout.html">pagar</a></li>
                            <li><a href="order-success.html">éxito del pedido</a></li>
                            <li><a href="order-tracking.html">rastreo de pedido <span
                                        class="new-tag">nuevo</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">portafolio</a>
                        <ul>
                            <li><a href="">cuadrícula</a>
                                <ul>
                                    <li><a href="grid-2-col.html">cuadrícula 2</a></li>
                                    <li><a href="grid-3-col.html">cuadrícula 3</a></li>
                                    <li><a href="grid-4-col.html">cuadrícula 4</a></li>
                                </ul>
                            </li>
                            <li><a href="">mampostería</a>
                                <ul>
                                    <li><a href="masonary-2-grid.html">mampostería 2</a></li>
                                    <li><a href="masonary-3-grid.html">mampostería 3</a></li>
                                    <li><a href="masonary-4-grid.html">mampostería 4</a></li>
                                    <li><a href="masonary-fullwidth.html">ancho completo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="about-page.html">sobre nosotros</a></li>
                    <li><a href="search.html">buscar</a></li>
                    <li><a href="review.html">reseña</a>
                    </li>
                    <li>
                        <a href="#">comparar</a>
                        <ul>
                            <li><a href="compare.html">comparar</a></li>
                            <li><a href="compare-2.html">comparar-2</a></li>
                        </ul>
                    </li>
                    <li><a href="collection.html">colección</a></li>
                    <li><a href="lookbook.html">libro de estilo</a></li>
                    <li><a href="sitemap.html">mapa del sitio</a>
                    </li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="coming-soon.html">próximamente</a></li>
                    <li><a href="faq.html">preguntas frecuentes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">blog</a>
                <ul>
                    <li><a href="blog-page.html">barra lateral izquierda</a></li>
                    <li><a href="blog(right-sidebar).html">barra lateral derecha</a></li>
                    <li><a href="blog(no-sidebar).html">sin barra lateral</a></li>
                    <li><a href="blog-details.html">detalles del blog</a></li>
                </ul>
            </li>
            </ul>
            </nav>
            </div>
            </div>
            </div>
            </div>
            </div>
            </header>
            